 <h1>CHAI COFFEE SHOP</h1>

<h2>Waiters Available: </h2>
<br>
<br>






<button class="button-primary" type="submit" name="button"><a href="/reset">RESET</a></button>
<button class="button-primary" type="submit" name="button"><a href="/waiters">HOME</a></button>