 <h1>CHAI COFFEE SHOP</h1>
<br>

<ul>
<li class="less">Less than 3 waiters</li>
<li class="enough">Enough waiters</li>
<li class="more">More than enough waiters</li>
</ul>

<h2>Waiters Available: </h2>
<br>
<br>






<button class="button-primary" type="submit" name="button"><a href="/reset">RESET</a></button>
<button class="button-primary" type="submit" name="button"><a href="/waiters">HOME</a></button>