<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action="/" method="POST">
    <br>
    <br>
   
    <h2 class="pa">Please enter your name in the url, to select your working days </h2>

  </form>
</div>