<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action="/" method="POST">
    <br>
    <br>
    {{!-- <button class="button-primary" type="submit" name="button"><a href="/waitersList">ADMIN</a>
    </button> --}}
    {{!-- <button class="button-primary" type="submit" name="button"> <a href="/waiters">WAITER</a></button> --}}
<h2>Please enter your name in the url, to select your working days </h2>
  </form>
</div>