<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action="/" method="POST">
<br>
<br>
 <button class="button-primary" type="" name="button">ADMIN</button>
   
     <a href="/waiters"><button name="button">WAITER</button></a>

  </form>
</div>