<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action='/waiters/{{this.waiter_name}}' method="POST">

    {{!-- <div>
      <input type="text" name="names" class="nameEntered" value="" placeholder="enter your name">
    </div> --}}
    <br>
    <div class="days">
      <strong class="choose">Choose the day(s) you would like to work on, don't choose more than 3 days:</strong>
      <br> <br>

      <label class="container">Sunday
        <input type="checkbox" name="checkmark" value="Sunday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Monday
        <input type="checkbox" name="checkmark" value="Monday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Tuesday
        <input type="checkbox" name="checkmark" value="Tuesday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Wednesday
        <input type="checkbox" name="checkmark" value="Wednesday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Thursday
        <input type="checkbox" name="checkmark" value="Thursday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Friday
        <input type="checkbox" name="checkmark" value="Friday">
        <span class="checkmark"></span>
      </label>
      <label class="container">Saturday
        <input type="checkbox" name="checkmark" value="Saturday">
        <span class="checkmark"></span>
      </label>

      <br> <br>
      <div class="flash">
        {{#if messages.error}}
        {{messages.error}}
        {{/if}}
      </div>

      <div class="success">
        {{#if messages.info}}
        {{messages.info}}
        {{/if}}
      </div>
      <br>
      <button class="button-primary" type="submit" name="button">SUBMIT</button>
      <button class="button-primary" type="submit" name="button"><a href="/waiters/">HOME</a></button>
    </div>
  </form>

</div>

<script>
  setTimeout(function () {
    document.querySelector(".flash").innerHTML = "";
    document.querySelector(".success").innerHTML = ""
  }, 2000);

</script>