<div class="container">

  <h1>CHAI COFFEE SHOP</h1>
  <form action='/waiters/{username}' method="POST">

    {{!-- <div>
      <input type="text" name="names" class="nameEntered" value="" placeholder="enter your name">
    </div> --}}
    <br>
    <div class="days">
      <strong class="choose">Choose the day(s) you would like to work on:</strong>
      <br> <br>
      
      <label class="container">Monday
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Tuesday
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Wednesday
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Thursday
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">Friday
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <br> <br>
      <button class="button-primary" type="submit" name="button">SUBMIT</button>
       <button class="button-primary" type="submit" name="button"><a href="/">HOME</a></button>
    </div>
  </form>

</div>